
		
	.main-navigation {
	
		ul {
			
			ul.sub-menu-wrapper {
	
				@include bp-large {
					float: left;
					position: absolute;
					top: 4em;
					left: -999em;
					z-index: 999;
				}
				
				.shop-navigation {
					
					/*
					.flexbox & {
						
						display: flex;
						
					}
					*/
					
					
					ul {
						
		
						li {
							
							display: block;
	
							@include bp-large {
								text-align: left;
							}
							
							a {
								
								padding: 0;
								
							}
							
							&:hover > ul,
							&:focus > ul {
								left: 100%;
							}
						
							&:last-child > a {
								
								color: inherit;
								
							}
						}
						
					}
					
					
				}
				
			}
	
			li:hover > .sub-menu-wrapper,
			li:focus > .sub-menu-wrapper {
				left: 0;
				right: 0;
			}
			
		}
		
	
	
		/* Desktop Menu */
		@include bp-large {
				
			ul {
				margin-top: 0;
				
				li {
					margin-left: -0.6em;
					
					&:first-child {
						
						margin-left: 0;
						
					}
					
					ul {
						
						li {
							
							margin-left: 0;
							
						}
						
					}
				}
				
			}
			
		}
	
	}

}