body {
	background: $color__tone-0;
}
#page {
	background: $color__tone-0;
}

@import "typography";
@import "links";
@import "tables";
@import "header";
@import "content";
@import "footer";
@import "page-specific";

.site-content {

	.content-block {

		h3 {
			
			text-transform: uppercase;
			@include font-size($font__size-h2);

		}

	}
	
}