#page {
	background: $color__brand-1-light;
}
.site-header {
	background: #8EB9C8;
}
.site-content {
	background: $color__tone-0;
}

@import "typography";
@import "links";
@import "tables";
@import "header";
@import "content";
@import "footer";
@import "page-specific";