/* Footer  */
.site-footer {

	text-align: center;
	background: $color__brand-2-mid;

	@include bp-medium {
		text-align: left;
	}
	
	
	.site-info {
		max-width: $size__site-max-width;
		@include center-block;
		padding: 0 $spacing__large $spacing__smaller $spacing__large;
		
		p {
			max-width: $size__site-max-width;
			@include center-block;
			margin-top: $spacing__medium;
			margin-bottom: 0;
			font-weight: $font__weight-bold;
			@include font-size($font__size-small);

			@include bp-medium {
				@include font-size($font__size-big);
			}
			@include bp-large {
				@include font-size($font__size-bigger);
			}
			
			strong {
				display: block;
				@include bp-medium {
					display: inline;
				}
			}
			span {
				display: block;
				@include bp-small {
					white-space: nowrap;
				}
				@include bp-medium {
					display: inline;
				}
			}
		
			&.social-buttons {
				a {
					display: inline-block;
					width: 2.25em;
					height: 2.25em;
					text-align: center;
					line-height: 2.25em;
					@include font-size($font__size-h2);
					border-radius: 50%;
					color: #000;
					background: #fff;
					margin-left: $spacing__smallest;
				}
				
				@include bp-medium {
					margin-top: 0;
					margin-left: $spacing__medium;
					float: right;
				
					&:hover a,
					&:focus a {
						opacity: 0.65;
					
						&:hover,
						&:focus {
							opacity: 1;
						}
					}
				}
			}
		}
	}
	
	.mailchimp-subscribe {
		margin-top: $spacing__large;
		p {
			margin: 0 0 $spacing__smallest 0;
		}
		.yikes-easy-mc-form.yikes-mailchimp-form-inline {
			width: auto;
		}
		.yikes-easy-mc-form label.label-inline {
			width: calc( 100% - 30% );
			input[type=email] {
				@include bp-small() {
					min-width: 13em;
				}
			}
		}
	}
}