.site-header {
	max-width: $size__site-max-width;
	@include center-block;
	width: 100%;
	padding: 0 $spacing__large 0;
	position: relative;
	padding-top: $header__height;
	
	.no-js & {
		
		padding-top: 0;
		
	}
	
	.site-branding {
		
		padding: 0 0 $spacing__larger 0;
		line-height: $font__line-height-tight;
		max-width: 28em;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		
		.site-description {
			margin-bottom: 0;
		}
		
		@include bp-small {
			
			margin-left: 0;
			margin-right: 0;
			text-align: left;
			max-width: none;
			
			.site-title,
			.site-description {
				display: inline-block;
				width: 52%;
				vertical-align: middle;
				margin-bottom: 0;
			}
			.site-description {
				margin-left: 6%;
				width: 40%;
			}
		}
		@include bp-large {
			
			padding-top: $spacing__larger;
			
			.site-title,
			.site-description {
				width: 38%;
				margin-left: 4%;
			}
			.site-description {
				width: 44%;
				margin-left: 10%;
			}
		}
		@include bp-full {
			
			min-height: 17.1em;
			
		}
		
		.site-title {
			
			a {
				display: block;
				background-image: url(img/logo-fallback.png);
				background-image: url(img/logo.svg), linear-gradient(transparent, transparent);
				background-repeat: no-repeat;
				background-size: auto 100%;
				background-position: center;
				width: 100%;
				padding-bottom: 44%;
				
				@include bp-small {
					background-position: left center;
				}
				
			}
		}
		.site-description {
			color: $color__brand-2-bright;
			font-family: $font__headings;
			/* Better Font Rendering */
		    -webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			@include font-size($font__size-h4);
			letter-spacing: -0.05em;
			
			@include bp-large {
				@include font-size($font__size-h3);
			}
			@include bp-desktop {
				@include font-size($font__size-h2);
			}
		}
	}
	
	/* Main Menu */
	.main-navigation {

		background: $color__brand-2-mid;
		z-index: 99;

		ul {
			list-style: none;
			margin: 0;
			padding: $spacing__small 0;
			//background: $color__brand-2-mid;
				
			li {
				
				text-align: center;
				//line-height: $spacing__large;
				
				a {
					display: block;
					text-transform: lowercase;
					color: inherit;
					padding: ($spacing__smallest + $spacing__smallest) 0;
				}

				&.current_page_item > a,
				&.current-menu-item > a,
				&.current_page_ancestor > a,
				//&.current-menu-ancestor > a,
				&.current-product_cat-ancestor > a,
				a:hover, a:focus {
					color: $color__brand-1;
				}
	
			}
			
			&.menu {
				
				> li:last-child > a {
					
					color: $color__brand-1;
				
				}
				
			}

		}
		
		
		/* Mobile Menu - Menu Toggle */
		.menu-toggle {
			display: none;
			
			.js & {
				
				display: block;
				
				@include bp-large {
					
					display: none;
					
				}
				
			}
			
			position: absolute;
			top: 26px;
			right: $spacing__medium;
			width: 18px;
			height: 0.9em;
			line-height: 0.9em;
			background: transparent;
			border: 0;
		    text-align: left;
		    width: 2.75em;
		    padding: 0 22px 0 0;
		    box-sizing: content-box;
		    border-color: transparent;
		    background: transparent !important;
			font-weight: bold;
			
			&:before {
				position: absolute;
				top: 1px;
				right: 0;
				width: 18px;
				height: 3px;
				content: "";
				background: $color__brand-1;
				box-shadow: 0 5px 0 0 $color__brand-1, 0 10px 0 0 $color__brand-1;
			}
			
			&:hover,
			&:focus,
			&:active {
				background: transparent;
				outline: none;
				color: inherit;
			}
			
		}
	
		/* Mobile Menu */
		.js & {
			
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
				
			ul {
				
				display: none;
				
				@include bp-large {
			
					display: block;
				
				}
			
			}
			
			&.toggled {
			
				ul {
			
					display: block;
				
					.shop-navigation {
					
						display: none;
					
					}
				
				}
				
			}
			
			.menu {

				padding-top: $header__height;

			}

		}
		
		/* Desktop Menu */
		@include bp-large {
			
			position: fixed !important;
			height: $header__height;
		
			ul {
				
				li {
				
					line-height: $spacing__larger;

					a {
						
						letter-spacing: -0.025em;
						padding: 0 ($spacing__smaller + $spacing__smallest);
						
						@include bp-full {
							
							letter-spacing: inherit;
							padding: 0 ($spacing__smaller + $spacing__smaller);
							
						}
						
					}
					
					.sub-menu-wrapper {

						@include bp-large {
							float: left;
							position: absolute;
							top: $header__height;
							left: -999em;
							z-index: 999;
						}

						.shop-navigation {
		
							ul {
								
								padding: 0;
								
								li {
									
									text-align: left;
									line-height: $font__line-height-body;
									
									a {
										
										text-transform: none;
										
									}
									
								}
								
							}
							
						}
						
					}
					
				}
	
				li:hover > .sub-menu-wrapper,
				li:focus > .sub-menu-wrapper {
					left: 0;
					right: 0;
				}
				
			}
			
			.menu {
				
				text-align: center;

				> li {
					
					display: inline-block;
					margin-left: -0.6em;

				}
			
				.js & {
	
					padding: $spacing__medium 0 0 0;
	
				}

			}

		}

		/* Sub Menu Feature */
		.sub-menu-wrapper {
	
			.shop-navigation {

				max-width: $size__site-max-width;
				@include center-block;
				padding: 0 $spacing__medium $spacing__smaller $spacing__medium;
				background-image: url(img/bg-shop-menu.jpg);
				background-size: 100%;
				.backgroundsize & {
					background-size: cover;
				}

				@include bp-large {
					min-height: 17.1em;
					padding: $spacing__large;
				}
				
				@include bp-full {
					padding: $spacing__large ($spacing__largest + $spacing__largest);
				}
	
				.flexbox & {
	
					display: flex;
	
				}

				.cols {

					width: 100%;

					.col {

						width: 100%;
						
						@include bp-large {
								
							width: 38%;
							float: left;
							
						}

					}

					.col-1-2 {

						display: none;
						@include font-size($font__size-bigger);

						@include bp-large {

							display: block;
							width: 62%;

						    .flexbox & {

							    display: flex;
								flex-direction: column;

						    }

						}

						ul:first-of-type {

							margin-bottom: $spacing__medium;

					    	.flexbox & {

								flex-grow: 1;

					    	}
						
						}
						
					}
					
				}
				
			}
			
			
		}
		
		
	}
}