// Brand Colour 1 (Teal)
$color__brand-1: #0b86c7;
$color__brand-1-mid: mix($color__brand-1, white, 50%);
$color__brand-1-light: #c5dae2;
// $color__brand-1-dark: mix($color__brand-1, black, 20%);
// $color__brand-1-darker: mix($color__brand-1, black, 50%);
// $color__brand-1-bright: saturate($color__brand-1, 35%);
// $color__brand-1-transparent: rgba($color__brand-1, .5);

// Brand Colour 2 (Lime Green)
$color__brand-2: #a4c054;
$color__brand-2-mid: #d6e298;
$color__brand-2-light: mix($color__brand-2, white, 20%);
$color__brand-2-bright: #8ec044;

// Site Colour 1 (Yellow)
$color__site-1: #FFD14C;
$color__site-1-mid: mix($color__site-1, white, 50%);
$color__site-1-light: mix($color__site-1, white, 20%);

// Site Colour 2 (Maroon)
$color__site-2: #8F2B24;
$color__site-2-mid: mix($color__site-2, white, 50%);
$color__site-2-light: mix($color__site-2, white, 20%);

// Tones
$color__tone-0: #fff; // White
$color__tone-100: #000; // Black
$color__tone-20: #e8e8d9;
$color__tone-40: mix($color__tone-20, #4d4d4d, 80%);
$color__tone-60: mix($color__tone-20, #4d4d4d, 50%);
$color__tone-80: #4d4d4d;

// Links
$color__link: $color__brand-1;
$color__link-visited: $color__brand-1;
$color__link-hover: mix($color__brand-1, black, 50%);

// Notices
$color__background-success: #bbf29d;
$color__background-notice: $color__brand-2-mid;
$color__background-error: mix(red, white, 50%);